.newWidgetOverlay{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.338);
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(4px);
}
.hide{
display: none;
}
.seen{
    display: flex;
}
.nwo-form{
    background: rgb(3, 19, 43);
    width: 95%;
    border: 1px dotted aqua;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 95%;
    max-height: fit-content;
    max-width: fit-content;
    padding: 20px 40px;
    position: relative;
    box-shadow: 5px 5px 20px rgb(2, 27, 47);
    /* border-radius: 10px; */
}
#new_widget_form{
    padding: 20px;
    width: 100%;
    min-width: 300px;
    .form-group{
        display: flex;
        flex-direction: column;
        gap: 5px;
        margin-bottom: 10px;
        label{
            color:grey;
            font-size: small;
        }
        .inp-group{
            display: flex;
            justify-content: center;
            align-items: center;
            position: relative;
            .icon{
                position: absolute;
                left: 4px;
            }
            input{
                background: #0000;
                border: 1px solid rgba(255, 255, 255, 0.234);
                &:focus{
                    border: 2px solid rgb(2, 91, 91);

                }
            }
            input[type="text"], input[type="url"]{
                padding:5px  10px;
                padding-left: 30px;
                width: 100%;
                outline: none;
            }
            input[type="color"]{
                padding:20px inset;
                padding-left: 30px;
                width: 100%;
            }
        }
    }
}
.s-btn{
    padding: 10px;
    border-radius: 5px;
    background: #5489e4;
    width: 100%;
    max-width: 200px;
    margin: auto;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    &:hover{
        background: rgb(2, 17, 85);
        border: 1px solid rgb(44, 44, 186);
    }
    &:active{
        scale: 0.98;
    }
}
.closeBtn{
    font-size: xx-large;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    position: absolute;
    right: 10px;
    top: 10px;
    color: rgb(255, 0, 0);
    cursor: pointer;
    user-select: none;
    &:active{
        scale: 0.98;
    }
}
#copyScript{
    background: rgb(0, 225, 255);
    padding: 5px 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    float: right;
    color: black;
    border: 2px solid rgb(15 23 42);
    outline: 1px solid aqua;
    &:active{
        scale: 0.98;
        background: rgb(0, 225, 255);
    }
}